<!DOCTYPE html>
<html>
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Inicio</h1>
        <a>
            Crear persona
        </a>
        <br/><br/>  
        <div>
            <table border="1">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Telefono</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
                <tr >
                    <td >Mostrar Nombre</td>
                    <td >Mostar Apellido</td>
                    <td >Mostrar email</td>
                    <td >Mostar telefono</td>
                    <td><a/>xd</td>
                    <td><a/>xs2</td>
                </tr>
            </table>
        </div>
        <div>
            La lista de personas esta vacia
        </div>

    </body>
</html>
