<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="flex flex-col items-center justify-center w-full h-screen bg-contain bg-center object-fit bg-[url('https://w0.peakpx.com/wallpaper/117/349/HD-wallpaper-music-neon-icon-violet-background-neon-symbols-music-creative-neon-icons-music-sign-music-signs-music-icon-music-icons.jpg')]">
       <div class="flex flex-col w-[300px] h-[350px] bg-purple-500 bg-opacity-75 border-2 border-black justify-center  gap-y-4">
        <form class="flex flex-col text-white text-[14px] font-['RobotoMono'] mx-[45px]"action="">
            <h1 class="my-[10px] text-black font-[600] text-[22px] text-center ">Iniciar Sesión</h1>
            <label class="bg-purple-500 bg-opacity-50"for="usuario">Usuario</label>
            <input class="border-b-2 border-black bg-purple-500 bg-opacity-75 mb-[20px]"type="text" name="usuario" id="usuario">
            <label for="password">Contraseña</label>
            <input class="border-b-2 border-black bg-purple-500 bg-opacity-75 mb-[25px]" type="password" name="password" id="password">
            <button class="w-[120px] mx-auto bg-black rounded-lg bg-opacity-75 mb-[10px] py-[4px]">Ingresar</button>
        </form>
        <h3 class="text-[12px] text-white font-[500] mx-auto">Olvidaste tu contraseña? <a class="underline text-[blue]"href="#">Recuperar contraseña</a></h3>
        <h3 class="text-[12px] text-white text-left font-[500] ml-[20px]">No tienes una cuenta? <a class="underline text-[blue]"href="#">Registrate</a></h3>
       </div>
    </div>
</body>
